.fiche2ba{
    Width : 679px;
    Height: 2228.23px;
    Top:190px;
    Left :204px;
    /* background-color: #00ff4c; */
    position: absolute;
    border-left: 1px solid #666 ;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
  
}