
.photo{

    width: 471.99px;
    height: 574px;
    position: absolute;
    border: #F1F5F9 solid 10px;

    
    
    /* border: 10px;
    border-color: antiquewhite; */

}
.position{
    position: absolute;
    width: 471.99px;
    height: 574px;
   
    border-color: beige;
    left:  456px  ;
    top: 116px;
    



}
    .ii{
        width: 247px;
        height: 508.02px;
        position: absolute;
        left: 233px;
        top: 212px;
      
        
        }
        .iii{
            width: 243.12px;
            height: 536.89px;
            position: absolute;
            right:  285.31px;
            top: 210px;
            
            /* float: left; */
            
            }
    .insc {
      background-image: url(../Group.png);
      background-color: rgb(39, 140, 223);;
    
      height: "100vh";
      width: "100vw";
     
    }
    .pa{
        position: relative ;
        top: 50px;
        left:211px;
        
    }
     .a{
        position: relative;
        color:black;
        font-size: 30px;
       right:  10px;
     }
    .av{
        position: relative;
        color:black;
        font-size: 30px;
       right:  100px;
        /* margin-top: 0px;
        position: relative;
        top: 30%;
        right:  100px;
       
        text-align:right; */
      }
   .paa{
    position: absolute;
    text-align: center;
   }
   .buttonins{
    Width:175px;
 Height:37.97px;
 border-radius: 15px;
 background-color: #3fa9e2;
top:  300px;
left: 150px;
 position: absolute;
 color: #F1F5F9;
 font-size: 18px;
 
 }
 
    /*  */