.q2{
    position: relative;
    height:88px ;
    width: 100%;
  
    background-color: #F1F5F9;
    ;

}
.q1{
    position: relative;
    height: 900px;
    width: 100%;
    /* background-color: aqua; */
}
.q3{
    position: relative;
    text-align: center;
    font-size: 40px;
    color: #2F80ED;
    top: 11px;
    
}
.q4{
    position: absolute;
    /* background-color: #2fed68; */
    height:36.97px ;
    width:413px ;
    bottom:138px ;
    left: 500px;
}
.button{
    position: absolute ;
    left:0px;
    height:36.97px  ;
    width:115px ;
    background-color:  #2F80ED;
    text-align: center;
 
}
.input{
    position: absolute;
    height: 36.97px;
    top: 0px;
    right: 0px;
    width: 293px;
    text-align: right;
    border: round;
    border: #BDBDBD  solid ;

 
 
}
    
.p{
    position: absolute;
    Width:313px;
Height :51.95px;
color: #2F80ED;
left: 600px;
bottom:242px ;
font-size: 33px;
}
.p1{
    position: absolute;
    Width:600px;
Height :51.95px;
/* background-color: aquamarine; */
color: #828282;
/* text-align: center; */
bottom:200px ;
left: 385px;
font-size: 23px;
align-items: center;
/* align:center */
}
.p2{
    position: absolute;
    /* Width:313px;
Height :51.95px; */
color: #cacdd1;
text-align: center;
bottom:242px ;
font-size: 53px;

}